<nav class="navbar bottom  navbar-light" style="background-color: #499788;">
    <div class="navbar-text" style="width:100%">
        Designed by <a href="https://abhishekkrmehta.github.io/portfolio/"  target="_blank">Abhishek</a>. &emsp; Check out my portfolio site:
        <a href="https://abhishekkrmehta.github.io/portfolio/" target="_blank" style="font-weight: 300;">https://abhishekkrmehta.github.io/portfolio/</a>
        <span class="float-right">Powered by Google Books</span>
    </div>
</nav>